
TTD.xcodeproj/xcuserdata/Tinka.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Design/example_concept.gif
*.tiff
/TTD.xcworkspace/xcuserdata/catharinaherchert.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/TTD.xcworkspace/xcuserdata/catharinaherchert.xcuserdatad/UserInterfaceState.xcuserstate
